h1 {
  color: blue;
  font-size: 34px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.fahrenheit {
  font-size: 20px;
}
.temperature {
  font-size: 50px;
}
.weather-app {
  font-family: "roboto mono", monospace;
  max-width: 600px;

  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.row {
  padding: 5px;
}
