h1 {
  color: blue;
  font-size: 34px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.large-icon {
  width: 200px;
}

.fahrenheit {
  font-size: 20px;
}
.temperature {
  font-size: 100px;
}
.weather-app {
  font-family: "roboto mono", monospace;
  max-width: 600px;

  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.row {
  padding-top: 20px;
}
.weather-forecast {
  text-align: center;
  margin-top: 0px;
}
.weather-forecast-max {
  font-weight: bold;
}
